<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dacs3">
    <!-- android:maxSdkVersion="30" -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-feature android:name="android.hardware.bluetooth" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> -->
    <!-- tools:targetApi="31" -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        <activity
            android:name=".bluetooth_Sheet.bluetooth_SheetActivity"
            android:exported="false">
            <meta-data
                android:name="android.bluetooth.le.PrefValue"
                android:value="true" />
            <meta-data
                android:name="android.permission.BLUETOOTH_SCAN"
                android:value="true" />
        </activity>
        <activity
            android:name=".add_buoiHoc.buoiHocAddActivity"
            android:exported="false" />
        <activity
            android:name=".add_nhomHP.nhomHPAddActivity"
            android:exported="false" />
        <activity
            android:name=".add_HP.HpAddActivity"
            android:exported="false" />
        <activity
            android:name=".admin.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".add_acc.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".QrScan.QrScanActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>